{% extends 'layout.html.twig' %}

{% block title %}list category admin
{% endblock %}

{% block content %}
	<h1>Categories list</h1>

	<table class="table text-center">
		<thead class="table-dark">
			<tr>
				<th>Name</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for catagory in catagories %}

				<tr>
					<td>{{catagory.name}}</td>

					<td>
						<a href="{{ path('admin_app_catagory_update', {slug: catagory.slug}) }}">
							<i class="fas fa-edit mx-1 text-primary"></i>
						</a>
						<a href="{{ path('admin_app_catagory_delete', {slug: catagory.slug}) }}" onclick="return confirm('êtes vous sûr de vouloir supprimer la categorie ?')">
							<i class="fas fa-trash mx-1 text-danger"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
